/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#__next {
	height: 100%;
}
:root {
	font-family: 'Inter', sans-serif;
}
:root {
	--border-style-dashed: 1px dashed;
	--border-color: #c2b99e60;
	--border-color-alt: #c2b99e60;
	color-scheme: light;
	--selection: var(--grayA4);
	--bg: #f6f2e580;
	--bgAlt: #e1ddcd;
	--fg: var(--gray12);
	--text-color: #3a3a3a;
	--alpha: hsla(0, 0%, 100%, 0.9);
	--shadow-color: hsla(0, 6%, 6%, 0.05);
	--mono1: var(--gray1);
	--mono2: var(--gray2);
	--mono3: var(--gray3);
	--mono4: var(--gray4);
	--mono5: var(--gray5);
	--mono6: var(--gray6);
	--mono7: var(--gray7);
	--mono8: var(--gray8);
	--mono9: var(--gray9);
	--mono10: var(--gray10);
	--mono11: #a0a0a0;
	--mono12: var(--gray12);
	--gray1: #fcfcfc;
	--gray2: #f8f8f8;
	--gray3: #e5e5e590;
	--gray4: #ededed;
	--gray5: #e8e8e890;
	--gray6: #e2e2e2;
	--gray7: #dbdbdb;
	--gray8: #c7c7c7;
	--gray9: #8f8f8f;
	--gray10: #858585;
	--gray11: #6f6f6f;
	--gray12: #2b2b2c;
	--grayA1: rgba(0, 0, 0, 0.012);
	--grayA2: rgba(0, 0, 0, 0.027);
	--grayA3: rgba(0, 0, 0, 0.047);
	--grayA4: rgba(0, 0, 0, 0.071);
	--grayA5: rgba(0, 0, 0, 0.09);
	--grayA6: rgba(0, 0, 0, 0.114);
	--grayA7: rgba(0, 0, 0, 0.141);
	--grayA8: rgba(0, 0, 0, 0.22);
	--grayA9: rgba(0, 0, 0, 0.439);
	--grayA10: rgba(0, 0, 0, 0.478);
	--grayA11: rgba(0, 0, 0, 0.565);
	--grayA12: rgba(0, 0, 0, 0.91);
}
@media (prefers-color-scheme: dark) :root {
}

[data-theme='dark'] {
	color-scheme: dark;
	--transparent: transparent;
	--fg: #f2f2f2;
	/* --bg: #1c1c1c; */
	--bg: #121212;

	--text-color: #bebebe;
	--alpha: rgba(28, 28, 28, 0.9);
	--shadow-color: rgba(0, 0, 0, 0.55);
	--gray1: #1a1a1a;
	--gray2: #1c1c1c;
	--gray3: #23232380;
	--gray4: #282828;
	--gray5: #2e2e2e;
	--gray6: #343434;
	--gray7: #3e3e3e;
	--gray8: #505050;
	--gray9: #707070;
	--gray10: #7e7e7e;
	--gray11: #a0a0a0;
	--gray12: #ededed;
	--grayA4: hsla(0, 0%, 100%, 0.077);
}

/* @font-face {
	font-family: 'Inter';
	font-style: 'regular';
	font-weight: 100 900;
	font-display: block;
	src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100...900&display=swap');
	font-named-instance: 'Regular';
} */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Inter';
	font-style: 'regular';
	font-weight: 470;
	background-color: var(--bg);
}
h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1.5rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
	/* margin-bottom: 1.5rem; */
}
h3 {
	font-size: 1.25rem;
	font-weight: 650;
	line-height: 1.2;
	/* margin-bottom: 1.5rem; */
}
h4 {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.2;
	/* margin-bottom: 1.5rem; */
}
h5 {
	font-size: 1rem;
	font-weight: 475;
	line-height: 1.2;
	/* margin-bottom: 1.5rem; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	color: #2b2b2c;
	font-family: 'Inter';
	font-style: 'regular';
	font-weight: 470;
}
button {
	background: none;
	padding: 0.4em 0.8rem;
	border-radius: 9999px;
	border: 1px solid #2b2b2c40;
	cursor: pointer;
	outline: none;
	font-weight: 500;
	font-size: 1rem;
}
.smallButton {
	background: var(--bgAlt);
	padding: 0.4em 0.8rem;
	border-radius: 0.3rem;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight: 500;
	font-size: 1rem;
}
button:hover {
	background: #d1cbcb30;
}
button:active {
	background: #d1cbcb;
}
option {
	all: unset;
}

.logoHoverSwap {
	position: relative;
	width: 100px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.still {
	transition: opacity 2s;
	opacity: 1;

	position: absolute;
	z-index: 2;
}
.moving {
	opacity: 1;
	position: absolute;
	z-index: 1;
}

/* animate logoHoverSwap */
.logoHoverSwap:hover {
	transition: opacity 2s;
	animation-iteration-count: 1;
}
.logoHoverSwap:hover .still {
	opacity: 0;
}
.inputText {
	width: 100%;
	height: 2rem;
	border-radius: 0.3rem;
	border: 1px solid #2b2b2c40;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 500;
	color: #2b2b2c;
	background-color: var(--bgAlt);
}
