.container {
	/* padding: 0 1rem; */
	overflow: auto;
	height: 100%;
	grid-row: 2;
}
.product:hover {
	background: #e1ddcd40;
}
.quantitySelectorWrapper {
	border: 1px solid var(--border-color);
	border-radius: 3px;
	display: grid;
	position: relative;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	height: 100%;
	/* margin: 0 1em; */
}
.quantitySelectorWrapper button {
	padding: 0.5rem;
	height: 100%;
	border-radius: unset;
	margin: 0;
}
.quantitySelectorWrapper button:hover {
	background: var(--border-color);
}
.quantitySelector {
	display: flex;
	padding: 0.3em 3px 0.3em 3px;
	align-items: center;
	gap: 4px;
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

.quantitySelector select {
	-webkit-appearance: none;
	-moz-appearance: none;
	all: unset;
	cursor: pointer;
	padding: 0;
	margin-left: -14px;

	width: auto !important;
}
.quantitySelector label {
	cursor: pointer;
	padding: 0 1em 0 0;

	width: auto !important;
}
.quantitySelector select option {
	all: unset;
	color: red;
	padding: 0;
	width: auto !important;
}
.main {
	display: grid;
	grid-template-rows: auto 1fr;
	/* padding: 4rem 0; */
	max-width: 400px;
	min-width: 100%;
}
.responsive {
	width: 100%;
	height: auto;
}
.totemBox {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
.totemBox img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.productImg img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	aspect-ratio: 1;
}

.centered {
	/* max-width: 1200px; */

	display: grid;
	grid-template-columns: auto 1fr auto;
	height: calc(100vh - env(safe-area-inset-bottom));
}
@supports (-webkit-touch-callout: none) {
	/* CSS specific to iOS devices */
	.centered {
		/* max-width: 1200px; */

		height: calc(100vh - env(safe-area-inset-bottom) - 2em);
	}
}
.centered > .sideSpacer {
	display: grid;
	/* width: 10em; */
}
.topBar {
	border-bottom: var(--border-style-dashed) var(--border-color);
	height: 55px;
	font-size: 20px;
	font-weight: 600;
	display: grid;
	grid-template-columns: 0.5fr auto;

	padding: 0em 0.5em;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	max-width: 100%;
	padding-left: 0.5em;
}
.twoRow {
	overflow: hidden;
	max-width: 1200px;
	width: 100%;
	justify-self: center;
	display: grid;
	height: inherit;
	grid-template-rows: auto 1fr;
}
.twoColumn {
	/* justify-self: center; */
	max-width: 1200px;

	display: grid;
	height: inherit;
	grid-template-columns: 1fr auto;
}
.twoColumn > div {
	overflow: auto;

	display: grid;
	grid-template-rows: auto 1fr;
	height: calc(100% - 55px);
}

.right {
	display: grid;
	/* grid-template-rows: auto auto 1fr;  */
	/* overflow: auto;q */
	grid-column: 2;
	background-color: var(--bgAlt);
	align-items: end;
	max-width: 400px;
	border-left: var(--border-style-dashed) var(--border-color);
	min-width: 400px;
}
.darkerBg {
	background-color: var(--bgAltD);
}
.rightClosed {
	display: grid;
	/* grid-template-rows: auto auto 1fr;  */
	/* overflow: auto;q */
	/* grid-column: 2; */
	background-color: var(--bgAlt);
	align-items: end;
	max-width: 400px;
	min-width: 400px;
}

@media (max-width: 680px) {
	.twoColumn > .rightClosed {
		grid-row: 1;
	}
	.topBar {
		grid-template-columns: 1fr auto;
	}
	.main {
		width: 100%;
	}
	.twoRow {
		overflow: unset;
		height: 100%;
	}
	.twoColumn {
		grid-template-columns: 1fr;

		grid-template-rows: auto 1fr;
	}
	.twoColumn > div {
		height: 100%;
	}
	.right {
		grid-column: 1;
		max-width: 100%;
		min-width: 100%;
		height: 100%;
	}

	.rightClosed {
		grid-column: 1;
		max-width: 100%;
		min-width: 100%;
		height: 100%;
	}
	.centered {
		/* height: 100%; */
		justify-content: unset;
	}
	.container {
		overflow: unset;
	}
}
.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.card {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: var(--border-style-dashed) var(--border-color);
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h2 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
