.summaryWrapper {
	width: 100%;
	height: 100%;
}
.summaryBox {
	display: grid;

	width: 100%;
	justify-items: center;
}
.summary {
	max-width: 500px;
	max-width: 500px;
	min-width: 100%;
}
@media (max-width: 500px) {
	.summaryWrapper {
		padding: 0.5em;
		justify-items: unset;
		align-items: unset;
	}
	.summary {
		max-width: 100%;
		/* min-width: 400px; */
	}
}
@media (min-width: 500px) {
	.summary {
		min-width: 500px;
	}
}
